## Exercícios

In [2]:
import pandas as pd
import numpy as np

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

In [3]:
customer=pd.read_csv('./data/customer.csv')
products=pd.read_csv('./data/products.csv')
sales=pd.read_csv('./data/sales.csv')

a) Quais produtos não foram vendidos?

In [4]:
merged=products.merge(sales, how="outer", on=["p_id","product"])
merged[merged.qty.isna()]['product']

0        Hard Disk
10        Keyboard
11           Mouse
12     Motherboard
13    Power supply
Name: product, dtype: object

b) Quantos clientes não realizaram uma compra?

In [5]:
merged2=customer.merge(sales, how='outer', on=['c_id'])
merged2.qty.isna().sum()

4

c) Liste a quantidade vendida e o faturamento de cada produto

In [6]:
merged3=products.merge(sales, how="inner", on=["p_id","product"])
merged3['Total']=merged3['price']*merged3['qty']
merged3.groupby(['product'])[['qty','Total']].sum()

         qty  Total
product
CPU        1     55
Monitor   12    900
RAM        7    630

d) Liste a quantidade vendida de cada produto por loja

In [7]:
merged3.groupby(['product','store'])[['qty']].sum()

               qty
product store
CPU     DEF      1
Monitor ABC     10
        DEF      2
RAM     ABC      3
        DEF      4

e) Qual loja teve maior faturamento?

In [12]:
merged3.groupby(['store'])[['Total']].sum().sort_values('Total', ascending=False).head(1)

       Total
store
ABC     1020

f) Qual produto foi o mais vendido?

In [14]:
merged3.groupby(['product'])[['qty']].sum().sort_values('qty', ascending=False).head(1)

         qty
product
Monitor   12