1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [1]:
import pandas as pd

In [2]:
customer=pd.read_csv('./data/customer.csv')
products=pd.read_csv('./data/products.csv')
sales=pd.read_csv('./data/sales.csv')

In [3]:
sold=products[products['p_id'].isin(sales.p_id.unique())]
sold['product']

1        RAM
2    Monitor
3        CPU
Name: product, dtype: object

b) E os não vendidos?

In [4]:
not_sold=products[~products['p_id'].isin(sales.p_id.unique())]
not_sold['product']

0       Hard Disk
4        Keyboard
5           Mouse
6     Motherboard
7    Power supply
Name: product, dtype: object

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [5]:
newsale=sales.copy()
newsale['total_price']=0
for i in range (len(sales)):
    for j in range (len(products)):
        if sales.loc[i,'p_id'] == products.loc[j,'p_id']:
            newsale.loc[i,'total_price'] = products.loc[j,'price']*sales.loc[i,'qty']
newsale=newsale.sort_values(by='total_price', ascending=False).head(5)
newsale.to_excel('./data/newsale.xlsx',index=False)

In [17]:
newsale

   sale_id  c_id  p_id  product  qty store  total_price
6        7     2     2      RAM    3   ABC          270
2        3     1     3  Monitor    3   ABC          225
4        5     2     3  Monitor    3   ABC          225
3        4     4     2      RAM    2   DEF          180
7        8     3     2      RAM    2   DEF          180

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [29]:
newproducts=products.copy()
newproducts['qty_sold']=0
for i in range (len(products)):
    for j in range (len(sales)):
        if products.loc[i,'p_id'] == sales.loc[j,'p_id']:
            newproducts.loc[i,'qty_sold'] += sales.loc[j,'qty']

In [30]:
newproducts

   p_id       product  price  qty_sold
0     1     Hard Disk     80         0
1     2           RAM     90         7
2     3       Monitor     75        12
3     4           CPU     55         1
4     5      Keyboard     20         0
5     6         Mouse     10         0
6     7   Motherboard     50         0
7     8  Power supply     20         0

e) Liste a quantidade vendida de cada loja.

In [33]:
sales.store.unique()

array(['ABC', 'DEF'], dtype=object)

In [32]:
ABC_sum=0
DEF_sum=0
for i in range (len(sales)):
    if sales.loc[i,'store']=='ABC':
        ABC_sum+=sales.loc[i,'qty']
    else:
        DEF_sum+=sales.loc[i,'qty']
print('ABC store sold:',ABC_sum,', DEF store sold:',DEF_sum)

ABC store sold: 13 , DEF store sold: 7

f) Liste a quantidade vendida de cada produto por loja.

In [34]:
text='qty_sold_'
for i in range (len(sales)):
    if sales.loc[i,'store'] not in (newproducts.columns):
        column=text+sales.loc[i,'store']
        newproducts[column]=0
for i in range (len(products)):
    for j in range (len(sales)):
        if products.loc[i,'p_id'] == sales.loc[j,'p_id']:
            newproducts.loc[i,text+sales.loc[j,'store']] += sales.loc[j,'qty']

In [35]:
newproducts

   p_id       product  price  qty_sold  qty_sold_ABC  qty_sold_DEF
0     1     Hard Disk     80         0             0             0
1     2           RAM     90         7             3             4
2     3       Monitor     75        12            10             2
3     4           CPU     55         1             0             1
4     5      Keyboard     20         0             0             0
5     6         Mouse     10         0             0             0
6     7   Motherboard     50         0             0             0
7     8  Power supply     20         0             0             0