Prova - Módulo 4

DS 814

Diego Delfino

Felipe Wakami

Leonardo Kerkhoff

Carlos Eduardo Gomes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

### Problema 1
Vamos praticar gerar matrizes e fazer operações com as linhas e colunas:

(a) Crie uma matriz A com as dimensões (5, 4) e elementos aleatórios variando entre 0 e 50, com o 50 incluso;

__Dica:__ Utilize as funções `np.random.randint` e `np.reshape`

(b) Retorne a média do vetor

(c) Retorne os menores valores de cada coluna;

(d) Retorne os maiores valores de cada linha.

In [ ]:
# 1 - a)
matriz_A = np.random.randint(low=0, high=51, size = (5, 4))
matriz_A

In [ ]:
# 1 - b)
matriz_A.mean()

In [ ]:
# 1 - c)
matriz_A.min(axis = 0)

In [ ]:
# 1 - d)
matriz_A.max(axis = 1)

### Problema 2

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:


| Peso (kg) | Altura (cm) | Idade (anos) |
|-----------|-------------|--------------|
|  47 | 161	| 31 |
|  80 | 170	| 21 |
|  60 | 175	| 16 |
|  90 | 162	| 28 |
| 100 | 185	| 23 |
| 147 | 189 | 32 |

Com base no DataFrame criado, realize o que for pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas;

(b) Obtenha a idade média das pessoas;

(c) Obtenha os dados das pessoas que estão abaixo da altura média;

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa;

__Obs.:__ A fórmula para o IMC é dada por IMC = Peso/(Altura)² com o peso em kg e a altura em metros.

(e) Remova a coluna que contém a idade das pessoas;

(f) Crie uma nova coluna chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

| IMC             | Classificação |
|-----------------|---------------|
Menor que 18,5    | Subpeso |
Entre 18,5 e 24,9 | Normal |
Entre 25,0 e 29,9 | Sobrepeso |
Entre 30,0 e 39,9 | Obesidade Grau I |
Maior que 40,0    | Obesidade Grau II |

(g) Salve esses dados do DataFrame em um arquivo csv.

In [ ]:
df = pd.DataFrame({"Peso (kg)": [47, 80, 60, 90, 100, 147], "Altura (cm)": [161, 170, 175, 162, 185, 189], "Idade (anos)": [31, 21, 16, 28, 23, 32] })
df

In [ ]:
# 2 - a)
df[["Altura (cm)"]]

In [ ]:
# 2 - b)
df[["Idade (anos)"]].mean()

In [ ]:
# 2 - c) 
print(df[["Altura (cm)"]].mean())
df[df["Altura (cm)"] < df["Altura (cm)"].mean()]

In [ ]:
# 2 - d)
df["IMC"] = (df["Peso (kg)"] / ((df["Altura (cm)"]/100) ** 2))
df

In [ ]:
# 2 - e)
df.drop(["Idade (anos)"], axis = 1, inplace = True)
df

In [ ]:
# 2 - f)
def classificacao_imc(imc):
    if imc < 18.5:
        return "Subpeso"
    elif imc >= 18.5 and imc <= 24.9:
        return "Normal"
    elif imc > 24.9 and imc < 29.9:
        return "Sobrepeso"
    elif imc >= 30.0 and imc  < 39.9:
        return "Obesidade Grau I"
    elif imc >= 40:
        return "Obesidade Grau II"
df["Classificação"] = df['IMC'].apply(classificacao_imc)
df

In [ ]:
# 2 - g) 
df.to_csv('D:\OneDrive\LetsCode\DS_Degree\Modulo_04\Projeto\DADOS\df_imc.csv', sep=';', index=False)

### Problema 3

O arquivo avocado.xlsx consiste em um dataset que contém dados sobre vendas de abacates  em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

| Coluna | Descrição |
|--------|-----------|
| Date | data da observação |
| AveragePrice | preço médio de um único abacate |
| year | ano |
| region | cidade ou região da observação |
| Total Volume | volume total de abacates vendidos |

Além das informações acima, contidas no arquivo avocado.xlsx, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.xlsx. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame.

Com o DataFrame criado, obtenha o que é solicitado nos itens elencados abaixo:

In [ ]:
df_avocado = pd.read_csv("./data/avocado.csv", encoding='latin-1', sep=";")
df_avocado

In [ ]:
df_avocado_type = pd.read_excel("./data/avocado_type.xlsx")
df_avocado_type

In [ ]:
df = pd.concat([df_avocado, df_avocado_type], axis = 1, join = "outer")
df

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.

In [ ]:
df.groupby(['type'])["Total Volume"].count()


(b) A quantidade de registros (linhas) de abacates vendidos para cada região ordenada da maior venda para a menor.

In [ ]:
df.groupby(['region'])["Total Volume"].sum().sort_values(ascending = False)

(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula, trocando espaço por _ e adicionando _ como separação de texto.

In [ ]:
df.columns = [ "Date", "Average_Price", "Total_Volume", "Year", "Region", "Type"]
df.columns
df

(d) Essa dado possui duplicados? Se sim, remova-os do dataset.

In [ ]:
df.duplicated().value_counts()
# Não temos

(e) Retire dos dados a região 'TotalUS'

In [ ]:
df.drop(df[df.Region == "TotalUS"].index, inplace = True)
df

(g) Apresente as regiões que mais venderam abacate em todo o período em ordem decrescente.

In [ ]:
df.groupby(['Region'])["Total_Volume"].sum().sort_values(ascending = False)

(h) Calcule o volume total de abacates vendidos para cada tipo e ano.

In [ ]:
df.groupby(['Type', "Year"])["Total_Volume"].sum()

(f) existe alguma região que foi a maior responsável pela queda na produção de 2018?

In [ ]:
# Diversas regiões tiveram uma queda na produção, comparando o ano 2017 e 2018.
# Porém, Seatle teve a maior queda.

In [ ]:
df_2017 = df[df["Year"] == 2017]
df_2018 = df[df["Year"] == 2018]

In [ ]:
df_2017_agg = df_2017.groupby(['Region' ])[["Total_Volume"]].sum().sort_values(by = "Total_Volume", ascending = True)
df_2017_agg

In [ ]:
df_2017_agg.columns
df_2017_agg.columns = ["Total_Volume_2017"]
df_2017_agg.columns
df_2017_agg

In [ ]:
df_2018_agg = df_2018.groupby(['Region' ])[["Total_Volume"]].sum().sort_values(by = "Total_Volume", ascending = True)
df_2018_agg

In [ ]:
df_2018_agg.columns
df_2018_agg.columns = ["Total_Volume_2018"]
df_2018_agg.columns
df_2018_agg

In [ ]:
df = pd.concat([df_2018_agg, df_2017_agg], axis = 1, join = "inner")
df

In [ ]:
df["variacao"] = ((df.Total_Volume_2018 - df.Total_Volume_2017) / df.Total_Volume_2017 ) * 100
df

In [ ]:
df.sort_values(by = "variacao", ascending=True)

(g) Qual cidade menos faturou com a venda de abacates?

In [ ]:
df["Valor_Recebido"] = df.Average_Price * df.Total_Volume
df
df.groupby(['Region'])[["Valor_Recebido"]].sum().sort_values(by = "Valor_Recebido", ascending = True).head(1)
# Syracuse

### Problema 4

Com base no dataset 'Video_Games_Sales.csv' responda:

In [ ]:
df_game = pd.read_csv("./data/Video_Games_Sales.csv", encoding='utf-8', sep=";")
df_game


(a) Quantos jogos existem em cada genero?

In [ ]:
df_game[['Genre']].value_counts()

(b) Temos duplicados nesses dados? E nulos?

In [ ]:
df_game.duplicated().value_counts()
# Não temos dados duplicados.

In [ ]:
df_game.isnull().sum()
# Temos nulos

(b) Quantos jogos de cada publisher receberam nota acima de 9 na avaliação dos usuarios?

In [ ]:
df_game_2 = df_game.copy()
df_game_2 = df_game_2[df_game_2["User_Score"] > 9]
df_game_2.groupby(['Publisher' ])[["User_Score"]].count()
# Publisher e quantidade de jogar acima de 9.


(c) Faça uma tabela que mostre o total vendido por ano por pais/globalmente de cada publisher? Você consegue observar algum padrão? Com se comportaram as vendas na América do Norte (NA) ao longo do tempo? O mesmo foi visto nos demais lugares?

In [ ]:
df_game.groupby(['Publisher' ])[["Global_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "NA_Sales"]].sum().sort_values(ascending = False, by = "Global_Sales").head(20)

NA lidera a posição mundial no top 9;
Na sequência, até o top 20, as publisher japonesas lideram no seu país, embora os NA representa uma participação interessante de demanda nesse mercado;

In [ ]:
df_game.groupby(["Year_of_Release" ])[[ "Global_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "NA_Sales"]].sum().sort_values(ascending = True, by = "Year_of_Release").tail(30)

A partir dos anos 2000, temos um aumento em NA, hipótese pela popularização dos consoles,
em especial do PS2;
A partir de 2012 NA tem uma queda acentuada nas vendas, os usuários de console poderiam substituir esse tipo produto, devido ao aumento do poder computacional em nuvem, dos mobiles e dos streamings.
Nos outros locais, não percebeu-se uma variação na mesma magnitude.


(d) Qual foi jogo mais vendido na união européia? De que ano ele é e qual a editora?

In [ ]:
df_game.groupby(["Year_of_Release", "Name", "Publisher"])[[ "EU_Sales"]].sum().sort_values(ascending = False, by = "EU_Sales").head(10)

O jogo mais vendido na EU é o Wii Sports da Nintendo do ano de 2006.


(e) Quantos % os generos ['Racing', 'Sports', 'Shooter'] representam na base de dados?

In [ ]:
df_teste = df_game.groupby(["Genre"])[["Global_Sales"]].sum().sort_values(ascending = False, by = "Global_Sales")

In [ ]:
df_game["total_sales"] = df_game["Global_Sales"].sum()
df_game
df_teste["total_sales"] = df_game["Global_Sales"].sum()
df_teste
df_teste["representatividade"] = (df_teste.Global_Sales / df_teste.total_sales) * 100
df_teste

In [ ]:
# ['Racing': 8.17, 'Sports': 14.93, 'Shooter': 11.80]

(f) Qual plataforma vendeu menos globalmente? obs: imprimir somente o nome

In [ ]:
df_game.groupby(["Platform"])[["Global_Sales"]].sum().sort_values(ascending = True, by = "Global_Sales").head(1).index
# PCFX

### Problema 5
A pasta 'data/datasus' contém informações sobre casos de dengue e tabelas auxiliares. <br>

| Tabela | Conteúdo |
|--------|----------|
| Dengue | Quantidade de casos por município |
| Agua | Quantidade de residências em cada município por tipo o abastecimento de água |
| InstalacoesSanitarias | Quantidade de residências em cada município por tipo de rede de esgoto |
| Pib | PIB per capita de cada município |
| Municipios | Relaciona o id_municipio com seu nome e estado |
| Populacao | Quantidade de pessoas morando em áreas urbanas, rurais e população total por município |
| Sexo | Quantidade de pessoas por sexo em cada município |

(a) Calcular o número de casos de dengue por cada estado apresentando os dados em ordem decrescente.

In [ ]:
df_dengue = pd.read_csv("./data/datasus/Dengue.csv", encoding='utf-8', sep=",")
df_dengue

In [ ]:
df_mun = pd.read_csv("./data/datasus/Municipios.csv", encoding='utf-8', sep=",")
df_mun

In [ ]:
# Como nossos dados tem diferentes números de linhas, vamos usar somente os comuns: inner
df_a = df_dengue.merge(df_mun[['UF','id_municipio']], how="inner", on="id_municipio")
df_a

In [ ]:
df_a.groupby(["UF"])[["casos"]].sum().sort_values(ascending = False, by = "casos")

(b) Utilizando o dataset InstalacoesSanitarias.csv, determine o número de pessoas que não possuem meio sanitário algum de descarte de dejetos por estado.

In [ ]:
df_sanitarios = pd.read_csv("./data/datasus/InstalacoesSanitarias.csv", encoding='utf-8', sep=",")
df_sanitarios

In [ ]:
# Como nossos dados tem diferentes números de linhas, vamos usar somente os comuns: inner
df_b = df_sanitarios.merge(df_mun[['UF','id_municipio']], how="inner", on="id_municipio")
df_b

In [ ]:
df_b.groupby(["UF"])[["nao_possui"]].sum().sort_values(ascending = False, by = "nao_possui")

(c) Crie uma coluna com a posição de ranking considerando o PIB. Os maiores PIB devem ter os menores valores de ranking.

In [ ]:
df_pib = pd.read_csv("./data/datasus/Pib.csv", encoding='utf-8', sep=",")
df_pib

In [ ]:
# df_pib_ordenado = sorted(df_pib.pib_percapta, reverse=True)
df_pib_ordenado = sorted(df_pib.pib_percapta)
df_pib_ordenado
df_pib["pib_ordenado"] = df_pib_ordenado
df_pib['posicao'] = df_pib.id_registro
df_pib

(d) Qual o PIB dos 5 municípios com mais casos de dengue e sua posição no ranking?

In [ ]:
df_d = df_pib.merge(df_dengue[['casos','id_registro']], how="inner", on="id_registro")
df_d

In [ ]:
df_d.groupby([ "casos", "posicao"])[["pib_percapta" ]].sum().sort_values(ascending = False, by = "casos").head(5)